# ---------------- Application ----------------
APP_NAME=FastAPI App
APP_DESCRIPTION=ИИ-агент для поиска вакансий на hh.ru
DEBUG=True
LOG_LEVEL=DEBUG
HOST=127.0.0.1
PORT=8000
API_VERSION=/api/v1
WORKERS=1

# ---------------- PostgreSQL ----------------
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ai_job_agent
POSTGRES_USER=ai_job_agent_user
POSTGRES_PASSWORD=ai_job_agent_password
POSTGRES_POOL_SIZE=10
POSTGRES_IDLE_CONNECTIONS=2
DOCKER_POSTGRES_HOST=postgres

# ---------------- External APIs ----------------
HH_API_KEY=fake_hh_api_key
CHATGPT_API_KEY=fake_chatgpt_api_key

# ---------------- JWT Settings ----------------
JWT_SECRET=secret_jwt
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=1440
